:root {
  --blue: #3882f6;
  --dark: #1f2937;
  --gray: #e5e7eb;
  --white: #f9faf8;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--white);
  text-decoration: none;
}

button {
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
  border: 0;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  background-color: var(--white);
  color: var(--blue);
  opacity: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  padding: 0 200px;
}

.header,
.footer {
  color: var(--white);
  background-color: var(--dark);
}

.header-nav {
  align-items: center;
  justify-content: space-between;
}

.header-nav-logo {
  font-size: 24px;
}

.header-nav nav ul {
  font-size: 18px;
  gap: 10px;
}

.header-nav nav ul li {
  padding: 10px;
}

.header-nav nav ul li a {
  padding: 10px;
}

.header-nav nav ul li a:hover {
  background-color: var(--blue);
}

.header-hero {
  padding-top: 48px;
  padding-bottom: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-hero-title {
  height: auto;
  max-width: 500px;
}

.header-hero-title h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--white);
  padding: 0;
  margin: 0;
}

.header-hero-title p {
  color: var(--gray);
  font-size: 18px;
}

.header-hero-image {
  height: auto;
  max-width: 500px;
}

.header-hero-image img {
  height: auto;
  max-width: 100%;
}

.main {
  flex: 1 1 auto;
}

.main-info {
  background-color: var(--white);
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-info h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.main-info-cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-info-cards .card {
  height: auto;
  width: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-info-cards .card .card-image {
  height: 200px;
  width: 200px;
  border: 4px solid var(--blue);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.main-info-cards .card figcaption {
  text-align: center;
  font-size: 18px;
  color: var(--dark);
}

.card-image img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.main-quotation {
  background-color: var(--gray);
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-quotation p {
  font-size: 36px;
  color: var(--dark);
  margin: 0;
}

.main-quotation p em q {
  font-weight: 300;
}

.main-action {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-action-card {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 15px;
  overflow: hidden;
  padding: 40px 100px;
  align-items: center;
  justify-content: space-between;
}

.main-action-card .left h2 {
  margin: 0;
  padding-bottom: 10px;
}

.main-action-card .left p {
  color: var(--gray);
  margin: 0;
}

.main-action-card .right button {
  border: 2px solid var(--white);
}

.footer {
  text-align: center;
  height: 50px;
}
